*/obj
*/bin
*/tmp
core/python/*.pyc
core/python/__init__.py
*.root
*~
*.local
VLQToHiggsPairProd/*
ZprimeSemiLeptonic/*

#ignore workdir & jobTempOutput
Workdir*
jobTempOutput*
*workdir
backup

#ignore obj
obj
