*/obj
*/bin
*/tmp
core/python/*.pyc
core/python/__init__.py
*.root
*~
*.local
VLQToHiggsPairProd/*
ZprimeSemiLeptonic/*

#ignore workdir & jobTempOutput
Workdir*
jobTempOutput*
*workdir
backup

#ignore obj
obj/
*obj
*obj/*
*DS_Store*
Save
src/Dump/

macros/._*
macros/JEC_*
macros/JMS_*
macros/Mass*
macros/BTag*
macros/ChannelCompare
macros/MakeReco*
macros/RunElec*
macros/a.out
macros/jet_mass_fsr
macros/ol_UnfoldingCombination
macros/*SYS*
macros/MjetvsPU
macros/MtopCompare
macros/PaperPlots
macros/Prefiring
macros/Radiation_Factor
macros/Ratio*
macros/SinglePlots
macros/StackHistogram
macros/Tau*
macros/UnfoldingCombination
macros/WMassPlots
macros/WeightHists
macros/files/
macros/pt_wjet_estimation
macros/plots/
macros/resolution*
macros/src/CodeStoarage
macros/ttbar_sf
macros/w_reconstruction
macros/AK8pt
macros/ColorNumber
macros/Comparison_ak8_tau
macros/Correction_AllHad
macros/CovMatrices/
macros/Create*
macros/CutFlow
macros/ElecSF
macros/FSR*
macros/LeptonPlots
macros/src/CodeStorage

config/2016/Dennis/
config/HHtoWWbbSemiLeptonicPreselection_2016.xml
