<!-- <?xml version="1.0" encoding="UTF-8"?> -->
<!DOCTYPE JobConfiguration PUBLIC "" "JobConfig.dtd" [

<!ENTITY NEVT "-1">

<!ENTITY channel "elec">

<!ENTITY INdir   "/nfs/dust/cms/user/schwarzd/MTopJet_Run2/Selection/elec">
<!ENTITY OUTdir   "/nfs/dust/cms/user/paaschal/MTopJet_Run2/PostSel/elec/FSRup_4">



<!-- =============================================== ttbar =========================================================================== -->
<!-- <!ENTITY TTbar_2L2Nu_1      "&INdir;/uhh2.AnalysisModuleRunner.MC.TTbar_Mtt0000to0700_2L2Nu_2018_1.root">
<!ENTITY TTbar_2L2Nu_2      "&INdir;/uhh2.AnalysisModuleRunner.MC.TTbar_Mtt0000to0700_2L2Nu_2018_2.root">
<!ENTITY TTbar_SemiLep_1    "&INdir;/uhh2.AnalysisModuleRunner.MC.TTbar_Mtt0000to0700_SemiLep_2018_1.root">
<!ENTITY TTbar_SemiLep_2    "&INdir;/uhh2.AnalysisModuleRunner.MC.TTbar_Mtt0000to0700_SemiLep_2018_2.root">
<!ENTITY TTbar_Hadronic     "&INdir;/uhh2.AnalysisModuleRunner.MC.TTbar_Mtt0000to0700_Hadronic_2018.root"> -->

<!ENTITY TTTo2L2Nu_Mtt0000to0700         "&INdir;/uhh2.AnalysisModuleRunner.MC.TTbar_2L2Nu_Mtt0000to0700_2018.root">
<!ENTITY TTToSemiLeptonic_Mtt0000to0700  "&INdir;/uhh2.AnalysisModuleRunner.MC.TTbar_SemiLeptonic_Mtt0000to0700_2018.root">
<!ENTITY TTToHadronic_Mtt0000to0700      "&INdir;/uhh2.AnalysisModuleRunner.MC.TTbar_Hadronic_Mtt0000to0700_2018.root">

<!ENTITY TT_Mtt0700to1000      "&INdir;/uhh2.AnalysisModuleRunner.MC.TTbar_Mtt0700to1000_2018.root">
<!ENTITY TT_Mtt1000toInft      "&INdir;/uhh2.AnalysisModuleRunner.MC.TTbar_Mtt1000toInft_2018.root">

]>

<!--
<ConfigParse NEventsBreak="300000" LastBreak="0" FileSplit="0"/>
<ConfigSGE RAM="4" DISK="2" Mail="alexander.paasch@desy.de" Notification="as" Workdir="workdir"/>
-->

<JobConfiguration JobName="MTopJetSelectionJob" OutputLevel="INFO">
  <Library Name="libSUHH2MTopJet"/>
  <Package Name="SUHH2MTopJet.par"/>


  <Cycle Name="uhh2::AnalysisModuleRunner" OutputDirectory="&OUTdir;/" PostFix="" TargetLumi="59740">
    <!-- <Cycle Name="uhh2::AnalysisModuleRunner" OutputDirectory="&OUTdir;/" PostFix="" TargetLumi="36814" RunMode="PROOF" ProofServer="lite://" ProofWorkDir="&PROOFdir;/" ProofNodes="15" >  -->




<!--
████████ ████████
.  ██       ██
.  ██       ██
.  ██       ██
.  ██       ██
-->

<!-- <InputData Version="TTbar_2L2Nu_2018_1" Lumi="53077886.47" Type="MC" NEventsMax="&NEVT;" Cacheable="False">
<In FileName="&TTbar_2L2Nu_1;" Lumi="0.0"/> <InputTree Name="AnalysisTree"/> <OutputTree Name="AnalysisTree"/> </InputData>
<InputData Version="TTbar_2L2Nu_2018_2" Lumi="53077886.47" Type="MC" NEventsMax="&NEVT;" Cacheable="False">
<In FileName="&TTbar_2L2Nu_2;" Lumi="0.0"/> <InputTree Name="AnalysisTree"/> <OutputTree Name="AnalysisTree"/> </InputData>

<InputData Version="TTbar_SemiLep_2018_1" Lumi="83703610.93" Type="MC" NEventsMax="&NEVT;" Cacheable="False">
<In FileName="&TTbar_SemiLep_1;" Lumi="0.0"/> <InputTree Name="AnalysisTree"/> <OutputTree Name="AnalysisTree"/> </InputData>
<InputData Version="TTbar_SemiLep_2018_2" Lumi="83703610.93" Type="MC" NEventsMax="&NEVT;" Cacheable="False">
<In FileName="&TTbar_SemiLep_2;" Lumi="0.0"/> <InputTree Name="AnalysisTree"/> <OutputTree Name="AnalysisTree"/> </InputData>

<InputData Version="TTbar_Hadronic_2018" Lumi="110354799.3" Type="MC" NEventsMax="&NEVT;" Cacheable="False">
<In FileName="&TTbar_Hadronic;" Lumi="0.0"/> <InputTree Name="AnalysisTree"/> <OutputTree Name="AnalysisTree"/> </InputData> -->

<InputData Version="TTbar_2L2Nu_Mtt0000to0700_2018" Lumi="53077886.47" Type="MC" NEventsMax="&NEVT;" Cacheable="False">
<In FileName="&TTTo2L2Nu_Mtt0000to0700;" Lumi="0.0"/> <InputTree Name="AnalysisTree"/> <OutputTree Name="AnalysisTree"/> </InputData>
<InputData Version="TTbar_SemiLeptonic_Mtt0000to0700_2018" Lumi="83703610.93" Type="MC" NEventsMax="&NEVT;" Cacheable="False">
<In FileName="&TTToSemiLeptonic_Mtt0000to0700;" Lumi="0.0"/> <InputTree Name="AnalysisTree"/> <OutputTree Name="AnalysisTree"/> </InputData>
<InputData Version="TTbar_Hadronic_Mtt0000to0700_2018" Lumi="110354799.3" Type="MC" NEventsMax="&NEVT;" Cacheable="False">
<In FileName="&TTToHadronic_Mtt0000to0700;" Lumi="0.0"/> <InputTree Name="AnalysisTree"/> <OutputTree Name="AnalysisTree"/> </InputData>

<InputData Version="TTbar_Mtt0700to1000_2018" Lumi="306394668.8" Type="MC" NEventsMax="&NEVT;" Cacheable="False">
<In FileName="&TT_Mtt0700to1000;" Lumi="0.0"/> <InputTree Name="AnalysisTree"/> <OutputTree Name="AnalysisTree"/> </InputData>

<InputData Version="TTbar_Mtt1000toInft_2018" Lumi="726814208.8" Type="MC" NEventsMax="&NEVT;" Cacheable="False">
<In FileName="&TT_Mtt1000toInft;" Lumi="0.0"/> <InputTree Name="AnalysisTree"/> <OutputTree Name="AnalysisTree"/> </InputData>


<!-- ================================================================================================================================== -->
<!-- ====================================================== User Config =============================================================== -->
<!-- ================================================================================================================================== -->

<UserConfig>
  <Item Name="PrimaryVertexCollection" Value="offlineSlimmedPrimaryVertices"/>
  <Item Name="GenParticleCollection"   Value="GenParticles"/>
  <Item Name="ElectronCollection"      Value="slimmedElectronsUSER"/>
  <Item Name="MuonCollection"          Value="slimmedMuonsUSER"/>

  <Item Name="JetCollection"           Value="jetsAk4CHS"/>
  <Item Name="GenJetCollection"        Value="slimmedGenJets"/>
  <Item Name="TopJetCollection"        Value="jetsAk8CHSSubstructure_SoftDropCHS"/>
  <Item Name="GenTopJetCollection"     Value="genjetsAk8SubstructureSoftDrop" />

  <Item Name="additionalBranches" Value="weight xconePuppi xconeCHS xconeCHS_noJEC xconeCHS_Corrected genXCone33TopJets genXCone33TopJets_softdrop XCone33_had_Combined XCone33_lep_Combined XCone33_had_Combined_noJEC XCone33_lep_Combined_noJEC XCone33_had_Combined_Corrected XCone33_lep_Combined_Corrected GEN_XCone33_had_Combined GEN_XCone33_lep_Combined passed_gensel_2 passed_recsel_2 cor_factor_had cor_factor_lep"/>

  <Item Name="METName"                 Value="slimmedMETs"/>

  <!-- if use_sframe_weight is set to 'false' the weight is changed according to the lumi -->
  <!-- also, common modules have to becalled to apply the correct weight -->
  <Item Name="use_sframe_weight" Value="false"/>

  <Item Name="dometfilters" Value="true" />
  <Item Name="dopvfilter" Value="true" />
  <Item Name="channel" Value="&channel;"/>

  <Item Name="MCBtagEfficiencies" Value="/nfs/dust/cms/user/paaschal/UHH2_102X_v2/CMSSW_10_2_17/src/UHH2/MTopJet/ScaleFactors/BTag/BTagMCEfficiencyHists_2018_elec.root"/>
  <Item Name="BTagCalibration" Value="/nfs/dust/cms/user/paaschal/UHH2_102X_v2/CMSSW_10_2_17/src/UHH2/MTopJet/ScaleFactors/BTag/DeepJet_102XSF_V2.csv" />

  <Item Name="pileup_directory_data" Value="/nfs/dust/cms/user/paaschal/UHH2_102X_v2/CMSSW_10_2_17/src/UHH2/common/data/2018/MyDataPileupHistogram2018.root" />
  <Item Name="pileup_directory" Value="/nfs/dust/cms/user/paaschal/UHH2_102X_v2/CMSSW_10_2_17/src/UHH2/common/data/2018/MyMCPileupHistogram.root" />
  <Item Name="pileup_directory_data_up" Value="/nfs/dust/cms/user/paaschal/UHH2_102X_v2/CMSSW_10_2_17/src/UHH2/common/data/2018/MyDataPileupHistogram2018_72383.root" />
  <Item Name="pileup_directory_data_down" Value="/nfs/dust/cms/user/paaschal/UHH2_102X_v2/CMSSW_10_2_17/src/UHH2/common/data/2018/MyDataPileupHistogram2018_66017.root" />

  <Item Name="ScaleVariationMuR" Value="none"/>
  <Item Name="ScaleVariationMuF" Value="none"/>
  <Item Name="PU_variation" Value="central" />
  <Item Name="BTag_variation" Value="central" />
  <Item Name="MuScale_variation" Value="nominal" />
  <Item Name="MuTrigger_variation" Value="nominal" />
  <Item Name="ElID_variation" Value="nominal" />
  <Item Name="ElReco_variation" Value="nominal" />
  <Item Name="ElTrigger_variation" Value="nominal" />
  <Item Name="PS_variation" Value="FSRup_4" />
  <Item Name="prefire_variation" Value="nominal" />

  <Item Name="JetMassScale_channel" Value="combine" />
  <Item Name="JetMassScale_direction" Value="nominal" />   <!-- has to be: nominal, upup, updown, downup or downdown! (up and down for PoU) -->
  <Item Name="JetMassScale_Flavor" Value="nominal" />      <!-- has to be: nominal, up or down! -->
  <Item Name="jecsmear_direction" Value="nominal" />       <!-- has to be: nominal, up or down! -->
  <Item Name="jersmear_direction" Value="nominal" />       <!-- has to be: nominal, up or down! -->
  <Item Name="JetCorrection_direction" Value="nominal" />  <!-- has to be: nominal, up or down! -->
  <Item Name="NonClosureUncertainty" Value="false" />      <!-- has to be: true or false! -->

  <Item Name="AnalysisModule" Value="MTopJetPostSelectionModule"/>
</UserConfig>

</Cycle>
</JobConfiguration>
